
/* Common Css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
a{
    display: inline-block;
    text-decoration: none;
}
ol,ul,li{
    list-style: none;
}

.bg-primary-color{
    background-color: #60BC3E;
}
/* Common Css end */


/* Banner Section Css start */
.banner {
    background-image: url(../images/Banar\ section.png);
    padding: 166px 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
/* Banner Section Css end */

/* Countdown section css start */
.countdown-list {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
.countdown-list li {
    width: 90px;
    border: 1px solid #dddd;
    margin: 0 20px;
    text-align: center;
    background-color: #60BC3E;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7px 0;
}
.countdown-list li span {
    font-size: 30px;
    font-weight: 800;
    color: white;
    display: block;
}
.countdown-list li p {
    color: white;
    font-weight: 600;
    margin: 0;
}

.countdown-heading h1 {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 18px;
    color: #60BC3E;
}
.countdown-heading h5 {
    font-weight: 600;
    font-size: 20px;
}
.countdown-heading h5 span{
    color: blueviolet;
}
/* Countdown section css end */

/* Preview Css start */
.preview-box {
    border-radius: 25px;
    box-shadow: 0px 0px 17px -1px;
}
.preview-text h2 {
    color: white;
    font-weight: 600;
}
.preview-text h2 {
    color: white;
    font-weight: 600;
}
.preview-text p {
    font-weight: 600;
    color: white;
}
.preview-image {
    height: 450px;
}
.preview-image img {
    border-radius: 25px 25px 0px 0px;
    height: 498px;
    width: 300px;
}

/* Preview Css end */


/* Review Css start */
.review-section {
    margin: 100px 0 70px 0;
}
.reviewer-details {
    background-image: url(/images/wave.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 20px 0;
    position: relative;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}

.reviewer-img {
    width: 85px;
    height: 80px;
    border-radius: 50%;
}
.reviewer-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.reviewer-img {
    width: 85px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    border: 3px solid blueviolet;
}
.reviewer-details p {
    font-weight: 600;
    color: white;
}
.reviewer-details h3 {
    font-weight: 600;
    font-size: 23px;
    margin-top: 30px;
    color: white;
}
.reviewe-text p {
    text-align: justify;
    padding: 0 25px;
    font-weight: 500;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
/* Review Css end */

/* FAQ Css Start */
#faq-section{
    margin: 100px 0;
}
.accordion-header button{
    background-color: #60BC3E;
    color: white;
}
.accordion-header button:focus{
    box-shadow: none;
}
#faq-section .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: white;
    text-align: left;
    background-color: #60BC3E;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}
#faq-section .accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url(/images/icon/plus.png);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}
#faq-section .accordion-button:not(.collapsed)::after {
    background-image: url(/images/icon/minus.png);
    transform: var(--bs-accordion-btn-icon-transform);
}
/* FAQ Css End */